body{
	background-image: url('img/clock_1920.jpg');
	background-size: cover;
	background-color: white;
	color: white;
}
img{
	height: auto;
	width: auto;
}
h1, h3 {
	color: lightpink;
	text-align: center;
}
div{
	color: white;
	text-align: center;
}
p{
	text-align: center;
}
#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.wrapper {
	display: flex;
	justify-content: space-around;
}
#div2,
.sidebar {
	padding: 15px;
	background-color: ~#fff;
}
#div2 {
  width: 60%;
  height: 150vh;
}


#footer a{
	text-decoration: none;
	color: grey;
}